[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
"google.auth" = "*"
google-api-python-client = "*"
qrcode = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
